
.brdr{
  height: 1px;
  background-color: #fff;

}
body{
  background-color: #05161A; 
  color: #fff;
}
.headin{
  overflow: hidden; 
}
.close{
  transform: scale(2);
  position: absolute;
  right: 0;
  top: 2rem;
  margin-right: 6rem;
}
.bg-dark{
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
@media screen and (max-width: 735px) {
.w-mob {
  width: 80% !important;
  }
}
.hov-poienter{
  cursor: pointer;
}

.page-item:hover{
background-color: rgba(24, 152, 206, 0.678) !important;
cursor: pointer;

}
.active{
  background-color: rgba(24, 152, 206, 0.678) !important;
 border: none;
 margin: 0 1rem;
 border-radius: 50%;


}
